<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <import resource="applicationContext.xml"/>

    <bean id="baseJdbc" abstract="true">
        <property name="dataSource" ref="dataSource"/>
    </bean>

    <bean id="networkLocationDao" class="com.jeremydyer.dao.network.jdbc.NetworkLocationDaoImpl" parent="baseJdbc" />
    <bean id="networkDeviceDao" class="com.jeremydyer.dao.network.jdbc.NetworkDeviceDaoImpl" parent="baseJdbc" />
    <bean id="networkDeviceServiceDao" class="com.jeremydyer.dao.network.jdbc.NetworkDeviceServiceDaoImpl" parent="baseJdbc" />

    <!-- System Photos -->
    <bean id="photoDao" class="com.jeremydyer.dao.media.jdbc.PhotoDaoImpl" parent="baseJdbc" />

    <!-- RPi Remote Power Control -->
    <bean id="powerOutletDao" class="com.jeremydyer.dao.power.jdbc.PowerOutletDaoImpl" parent="baseJdbc" />

</beans>